@model List<GymMe.Models.TransactionViewModel>

@{
    ViewData["Title"] = "Transaction History";
}

<h2>Transaction History</h2>

@if (User.IsInRole("Customer"))
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionDate.ToShortDateString()</td>
                    <td>@transaction.TotalAmount</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@transaction.TransactionID" class="btn btn-info">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th>Transaction Date</th>
                <th>Customer Name</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionDate.ToShortDateString()</td>
                    <td>@transaction.CustomerName</td>
                    <td>@transaction.TotalAmount</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@transaction.TransactionID" class="btn btn-info">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
